form {
	background-color:lightgrey;
	text-align: center;
	width: 400px;
	border: 1px solid black;
	padding: 10px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	margin: 10px;
}
.myButton:hover {
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}
